.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-content {
  position: absolute;
  top: 65px;
  left: 300px;
  width: calc(100% - 300px);
  height: calc(100% - 65px);
  background-color: white;
}
