.bk-overlay {
  position: fixed;
  inset: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 2rem;
}
.bk-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 32px;
  gap: 48px;
  position: absolute;
  width: 581px;
  height: 595px;
  left: calc(50% - 581px/2 + 0.5px);
  top: calc(50% - 595px/2 - 1px);
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

@media (max-width: 480px) {
  .bk-modal {
    padding: 1.25rem;
  }
}
